/****** Global Fixes & Tweaks ********/

body {
  color: white;
  background-color: #48C383;
}

.center-block {
  float: none;
}

/****** Elements *******/

h1 {
  text-align: center;
}

.todo-list {
  font-size: 20px;
  background-color: #fbfbfb;
}

.complete {
  text-decoration: line-through;
  text-decoration-color: red;
}

::-webkit-input-placeholder {
 font-size: 20px;
 font-style: italic;
}
:-moz-placeholder { /* older Firefox*/
 font-size:20px;
 font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
 font-size: 20px;
 font-style: italic;
}
:-ms-input-placeholder {
 font-size: 20px;
 font-style: italic;
}

.footer {
  padding-top: 10px;
  background-color: green;
}

.footer a {
  color: green;
  background-color: white;
  border-radius: 2px;
  padding: 5px;
}

.footer a:hover {
  text-decoration: none;
}

.footer .link-active {
    background-color: #48C383;
}

.item-remove {
  display: none;
}

.item-complete {
  color: black;
}

.item-active {
  color: gray;
}

.input-group:hover .item-remove {
  color: red;
  display: table-cell;
}
