<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>todoapp</title>

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

</head>
<body>
  <!--[if lt IE 10]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <section id="todo-app" class="col-md-6 center-block">
  </section>
  <script id="todo-app-template" type="x-handlebars-template">
  <header>
  <h1>todos</h1>
  <div class="input-group">
  <a {{#if isAnyItemLeft}} class="input-group-addon item-active" toggle-status="active"{{else}} class="input-group-addon item-complete" toggle-status="complete"{{/if}} class="input-group-addon" href="#" id="input-toggle-items">
  <span class="glyphicon glyphicon-chevron-down"></span>
  </a>
  <input type="text" class="form-control" placeholder="What needs to be done?" id="input-text-item">
  </div>
  </header>
  <div class="todo-list">
  {{#items}}
  <div class="input-group item-group">
  <a {{#if isCompleted}} class="input-group-addon item-toggle item-complete" {{else}} class="input-group-addon item-toggle item-active" {{/if}} class="input-group-addon item-toggle" data-item-id="{{id}}">
  <span class="glyphicon glyphicon-ok"></span>
  </a>
  {{#if isCompleted}}
  <input class="form-control item complete " type="text" readonly value="{{text}}" data-item-id="{{id}}">
  {{else}}
  <input class="form-control item" type="text" readonly value="{{text}}" data-item-id="{{id}}">
  {{/if}}
  <a class="input-group-addon item-remove" data-item-id="{{id}}">
  <span class="glyphicon glyphicon-remove"></span>
  </a>
  </div>
  {{/items}}
  </div>
  <div class="footer">
  <div class="container-fluid">
  <div class="row-fluid">
  <div class="col-md-4">
  {{#if isAnyItemLeft}}
  <p> {{countLeft}} Items Left</p>
  {{/if}}
  </div>
  <div class="col-md-4">
  <p>
  <a href="#" id="link_showAll" {{#if isModeAll}} class="link-active" {{/if}}>All</a>
  <a href="#" id="link_showActive" {{#if isModeActive}} class="link-active" {{/if}}>Active</a>
  <a href="#" id="link_showCompleted" {{#if isModeCompleted}} class="link-active" {{/if}}>Completed</a>
  </p>
  </div>
  <div class="col-md-4">
  {{#if isAnyItemComplete}}
  <a href="#" id="link_clearCompleted">Clear Completed ({{countCompleted}})</a>
  {{/if}}
  </div>
  </div> <!-- row fluid -->
  </div> <!-- container-fluid -->
  </div> <!-- footer -->
  </script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
  </script>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>

    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap/js/affix.js"></script>
    <script src="/bower_components/bootstrap/js/alert.js"></script>
    <script src="/bower_components/bootstrap/js/dropdown.js"></script>
    <script src="/bower_components/bootstrap/js/tooltip.js"></script>
    <script src="/bower_components/bootstrap/js/modal.js"></script>
    <script src="/bower_components/bootstrap/js/transition.js"></script>
    <script src="/bower_components/bootstrap/js/button.js"></script>
    <script src="/bower_components/bootstrap/js/popover.js"></script>
    <script src="/bower_components/bootstrap/js/carousel.js"></script>
    <script src="/bower_components/bootstrap/js/scrollspy.js"></script>
    <script src="/bower_components/bootstrap/js/collapse.js"></script>
    <script src="/bower_components/bootstrap/js/tab.js"></script>
    <!-- endbuild -->

    <script src="scripts/app.js"></script>

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
  </html>
